@import 'sdk/styles/global.scss';
$color_title: #ccceda;
.ListHeader {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  & .Subhead1 {
    color: $color_title;
    font-size: 1.125rem;
    font-weight: 600;
  }
  & .Item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    & .Sort {
      display: flex;
      align-items: center;
      & .Text {
        padding: 0 0.5rem;
        font-weight: 300;
        color: $black_60;
      }
      & .Select {
        & .Outlined {
          min-width: 10rem;
          border: 1px solid $black_40;
          width: 100%;
          color: $black_100;
          padding: 0.5rem 1rem;
          padding-right: 2rem !important;
        }
        & .Icon {
          color: $black_60;
        }
      }
    }
    & .Search {
      padding-left: 0.5rem;
      margin-right: 1rem;
      input {
        padding: 0.5rem;
      }
    }
  }
}
