@import "../../styles/global.scss";
$boder_bottom_color: #60626e;
@mixin setColor($color) {
  color: $color;
}
@mixin setBorderBottom($color) {
  border-bottom: 1px solid $color;
}

.Container {
  position: relative;
  @media (max-width: 960px) {
    overflow-x: scroll;
  }
}

.TableBody {
  & .TableRow {
    padding: 0 0.5rem;
    & .CheckboxCell {
      padding: 0 0.5rem !important;
      width: 3.125rem;
      @include setBorderBottom($boder_bottom_color);
    }
    & .TableCell {
      padding: 1rem !important;
      @include setBorderBottom($boder_bottom_color);
      @include setColor(#ccceda);
      font-size: 14px;
    }
  }
}

.TableHeader {
  @include setBorderBottom($boder_bottom_color);
  padding: 0;
  & .TableRow {
    padding: 0 0.5rem;
    border-bottom: none;
    & .TableCell {
      @include setColor(#9fa2b4);
      letter-spacing: 0.12px;
      padding: 0.75rem 1rem;
      border-bottom: none;
    }
  }
  .TooltipIcon {
    @include setColor($black_40);
    padding-left: 0.75rem;
    width: 1.625rem !important;
  }
  .Item {
    display: flex;
    flex-direction: row;
    align-items: center;
    & .SortIcon {
      @include setColor($black_40);
      display: flex;
      flex-direction: column !important;
      padding-left: 0.75rem;
      & .Active {
        @include setColor($black_60);
      }
      & .Icon {
        margin-bottom: -1.125rem;
      }
    }
  }
}
